* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-section {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
  margin-top: 2rem;
}

.result {
  font-size: 2rem;
  text-align: center;
}

.stretch {
  align-self: stretch;
}
